In [112]:
"""
Thes is a mulitline comment
hello 
hello
"""
a = 4
print(a)

4

Write a progarme to input two numbers and print there sum

In [106]:
# float a, b 
# a= 10.10
# b= 12.12

In [1]:
a = 10
b = 20 
c = a + b #additon of two numbers
print(c)

30

In [3]:
d = a - b
print(d) #substraction

-10

In [5]:
e = a * b
print(e) #multi

200

In [9]:
f = a/b
print(f) #division

0.5

In [11]:
g = a**b #power a^b
print(g)

100000000000000000000

In [39]:
j = a//b
print(j) #floor division

0.0

In [13]:
h = a%b 
print(h) #to find reminder # a modulo b

10

In [15]:
a =10 
print(type(a)) #to fint the type of data type ie int

<class 'int'>

In [17]:
b = 1.2
print(type(b))

<class 'float'>

In [19]:
c = True #first letter alway capital
print(type(c))

<class 'bool'>

In [23]:
d = "anurag"
print(type(d)) #string

<class 'str'>

In [2]:
a = 2 + iy
print(type(e)) #for complex number

NameError: name 'iy' is not defined

In [29]:
 a = 10
print(float(a)) #type casting

10.0

b = 3.14
print(int(b))  #type casting for deciaml to inetger

In [6]:
#write a prgram to input two floating number and print there average
# a = float(input("Enter First numeber:")) #type caste then take the input
# b = float(input("Enter second number:"))  
d = int(input("enter the number"))
e = int(input("enter e"))

c= a+b/2
f=d**e
print("average :",c)
print("power",f)

enter the number 10
enter e 2

average : 26.6
power 100

comparision operator

In [6]:
a = 0
b = 5
a > b #greater than 
# if left is greather than the right then it will return the value true
# if left is not greater than the right then it will return the value false

False

In [8]:
a > b #if a is greater than b then it will return the True value 
#greater

True

In [14]:
# a >= b # greater than if a is greater or equal to b then it will return True valye
a = 1
b = 10
if(a < b):
    print("hello")
else:
    print("bye")

hello

In [22]:
#a < b #less than  here if a is smaller than b then  it will return True value
a = 100
b = 20
if(a <= 100):
    print("a is smaller than b")
else:
    print("a is greather than b")

a is smaller than b

In [12]:
a <= b #less than equal to

False

In [18]:
a < > b #not equal to operator

SyntaxError: invalid syntax (2825872190.py, line 1)

In [20]:
a != b #not equal to

True

In [22]:
a == b

False

logical opertor

In [34]:
#AND True if both the operand are true
#OR True if any of the operand are True it will return the value True 
#NOT #REVERSE THE OUTPUT
a = True
b = False 
print(a and b) #and operator 
a = 11
b = 100
c = 12
d = 100
if(a > b) or (c > d):
    print("hello")
else:
    print("bye")

False
bye

In [31]:

print( a or b) #or operator

True

In [33]:
print(not a)

False

x = 10
y = 15
result = (x>15) or (y<10)
print(result)

In [39]:
result1 = (x>15) and (y<10)
print(result1)

False

In [41]:
result2 = (x>6) and (y<20)
print(result2)

True

In [43]:
result2 = (x>6) or  (y<20)
print(result2)

True

Assignment operator

In [46]:
num = 10 #assignment operator 
num = num + 5
print(num) #assign the value

15

In [54]:
num = 10
num +=10 
print("num:",num)

num: 20

In [58]:
num = 10
num = num-5 #num -= 5 
print(num)

5

In [60]:
num = 10
num = num * 10 # num *= 10
print(num)

100

In [62]:
num = 20
num = num / 5 # num /= 5 it can also be written as 
print(num)

4.0

In [66]:
num = 10
#num= num^5 
num = num^5
print(num)

15

In [22]:
a = 20
b = 10
c = a
print(a is not b) #both were not identical so it return true 

print(a is c)
#is operator True if the operator are identical 
#is not if the operator are not identical

True
True

membership operator  only used to check the memebers in the list

In [50]:
x = 20
y = 10
list = [10, 20, 30, 40, 50] #given list 
# if (x not in list): #true if s is not found in the list
#     print("x is not the list")
# else:
#     print("x is present in the list")
if(x is list):
    print("present")
else:
    print("not present")

not present