LIST
list are mutable objects 
we can store various type of data type into it str int float
ordered group of

In [6]:
marks = [99, 23, 40 , 50 , 50 ] 
#creating list always start with []. they are mutable ie can be changed at the run time
print(marks)
print(type(marks))

[99, 23, 40, 50, 50]
<class 'list'>

In [12]:
marks =["anur", "hire", 22 , 2.2, ] #hetrogenus data type  we can have float int string 
print(marks)
print(type(marks))

['anur', 'hire', 22, 2.2]
<class 'list'>

In [14]:
value = [] #empty list created 
print(value)
print(type(value))

[]
<class 'list'>

In [16]:
list = [1,2,3] #they are ordered
list[0]

1

In [10]:
color =["Red", "Black", "grey","White"]
color[1]
color[3]

'White'

MULTIDIMENSIONAL LIST

In [8]:
list=[["red","black"], ["anurag","hire"]]
list[0][0]
list[0][0]

'red'

taking input of a python list

In [12]:
string = input("Enter elements(space-sepearated):")
lst = string.split()#used to split the elements 

print("The list is", lst)
print(len(lst))#to find the length of list

Enter elements(space-sepearated): hello hy bye

The list is ['hello', 'hy', 'bye']
3

In [48]:
list = ["anur", "hire", 22 , 2.2, 9 ]
list[1]="black" #we can change the value in the list by selecting the index an assign he new value
list

['anur', 'black', 22, 2.2, 9]

slicing of list
to get the range of elements

In [18]:
marks=[12,20,30,49,49,30,29]
marks[-1]#access the last elemen
# marks[1:4] #acces the element form 1 till 4.. omit the last

29

In [14]:
marks[-1] #acces form right to left

NameError: name 'marks' is not defined

In [77]:
marks[-4:-2] #negative index

[49, 49]

LIST FUNCTION
append()
APPEND = add at the last of the list
ie

In [109]:
marks=[1,2,3] #list
marks.append(5) #add elements at the end of the list
marks

[1, 2, 3, 5]

SORT

In [126]:
list1=[10,8,9,7,5,6,4,3,2,1] #currenly in decending order
list1.sort()#sorts in accending order 
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [120]:
list2=[1,2,3,4,5,6,7,8,9,10]
list2.sort(reverse=True)
list2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [122]:
lst=[1,2,3]
lst.insert(0,5) #list.insert(index,element) Insert elements at a perticular index
lst

[5, 1, 2, 3]

In [128]:
lst1=[3,5,8]
lst1.reverse() #reverse the order of the lst1
lst

[8, 5, 3]

In [138]:
list1=[2,1,3,1]
list1.remove(1) #remove the entered element #will remove the first element which is there
list1

[2, 3, 1]

In [20]:
#pop delete the element at the index
list2=[1,2,3,4,5]
list2.pop(2)#remove the element at the index 2 
list2.pop(0)
list2

[2, 4, 5]

In [144]:
list1=[1,2,3,4,5,3,3,2]
list1.count(3)#returns the count of the items passed

3

In [50]:
#clear function
list4=[1,2,3,4,4,4]
list3.copy(list4)
#clear all the elements from the list
print(list3)

NameError: name 'list3' is not defined

In [40]:
# extend index() #returns the count of the number of items passed as an argument
list1 =[1,2,"car","bike"]
list2 =["cat", "dog"]
list1.extend(list2) #add all list elements from one list to another one
list1

[1, 2, 'car', 'bike', 'cat', 'dog']

In [52]:
original_list = [1, 2, 3]
copied_list = original_list.copy()
print(copied_list) # Output: [1, 2, 3]

[1, 2, 3]

The index() method in python is used to find the first occurance of a specified value in the list. string or tuple i it returns the index(position) of the first occurance of the value. if the value is not found it raise a vlaue error

In [60]:
#index() to find the index of the given element 
my_list=[12,13,14,15]
index = my_list.index(12)
print(index)

0