In [1]:
#sets = collection of unique elements of multiple data types they all are unique and we perform actions like union and intersecton
#union = they are all the element form set 1 and 2
#intersection they are only the common elements from set 1 and 2
#unordered
#mutable
#here we perform union and intersection 
"""
list = [] mutable multiple data type allow repeated content
tuple = () inn
set {}
"""

In [7]:
set1={} #set denoted with {}
#creating empty set

print(set1) 
print(type(set1))

{}
<class 'dict'>

In [11]:
set1={1,2,3} #we do not add key value so it acts as a set denoted with {}
#they have unique value
print(set1)
print(type(set1))

{1, 2, 3}
<class 'set'>

In [13]:
set1 = {"name":"anurg"}
print(type(set1))

<class 'dict'>

In [21]:
set2={1,2,3,4,0,5,6,6,"anrg"} #multiple data type
print(set2)
print(type(set2))

{0, 1, 2, 3, 4, 5, 6, 'anrg'}
<class 'set'>

In [ ]:
#sets cannot have

In [23]:
set1={"red","red",1,3,4,5,5} #here it does not repeat the double elements for set datatype
print(set1)

{1, 3, 4, 5, 'red'}

len to find the lenght of the set
true false = 1 0

In [41]:
#1 and True are considered as same
set2={"red","blue",True,1,0,False} # as we know True=1 , False= 0 so when they are in set any of one comming first will be printed 
print(set2)
print(len(set2))#to find the lenght

{0, True, 'red', 'blue'}
4

In [43]:
#set method
tuple1=("red","black","red","black",1,2,1,2) #it is a tuple have multiple repeated items and now u wnat unique elemnts and want to convert it into set we can use set() functio
my_set=set(tuple1)
print(my_set)

{2, 1, 'black', 'red'}

In [45]:
list1 = [1,2,3,4,5,5,6,"red","red"] #convert list into set 
my_set=set(list1)
print(my_set)

{1, 2, 3, 4, 5, 6, 'red'}

add items = adding elements in unorder way using .add() 
in set we have .add() we had append

In [53]:
set1 = {"red","yello","blue"}
set1.add("black") #str
set1.add(1) #int
set1.add(1.2) #float
print(set1)

{1, 1.2, 'yello', 'black', 'red', 'blue'}

we can use upate  for tupel dict or  any one we need to merg into set

In [55]:
set1={1,2,3}
set2={4,5,6}
set1.update(set2) #we are updateing the set2 into set1 
#we add the 
print(set1)

{1, 2, 3, 4, 5, 6}

In [57]:
set1 ={1,2,3,4,5,5}
set2 ={"red","black"}
set1.update(set2) #we can not only take set but also tuple or list
print(set1)

{1, 2, 3, 4, 5, 'red', 'black'}

In [59]:
set1 ={1,2,3,4,4}
list=["red","red","black"] #here we are merging the list into the set using update() 
set1.update(list)
print(set1)

{1, 2, 3, 4, 'black', 'red'}

Remove or discard method to remove an item in a set     remove(), discard()

In [64]:
color_set={"red","black","blue","white"}
color_set.remove("red") #used to remove the element in the set
print(color_set)

{'white', 'black', 'blue'}

In [25]:
color_set={"red","black","blue","white"}
color_set.discard("red") #used to remove the
print(color_set)

{'blue', 'white', 'black'}

you can also use the pop() mehtod to remove an item, but this method will remove a random item, so you cannot be sure what item that get removed

In [68]:
color_set={"red","black","blue","white"}
x=color_set.pop() #removed random item
print(x)
print(color_set)

white
{'black', 'red', 'blue'}

clear method to clear everything in the set

In [75]:
color_set={"red","black","blue","white"}
color_set.clear()
print(color_set)
print(type(color_set))

set()
<class 'set'>

In [81]:
color_set1={"red","black","blue","white"}
del color_set1 #here we have deleted all the color_set1 so it will not print
print(color_set)

NameError: name 'color_set' is not defined

Acessing the elements

In [9]:
thisset = {"apple","banana","cherry"}
print("apple" in thisset) # we are using memebership operator

True

In [31]:
set1 ={"red", "black", "red",1,12,2,3,2,3,2,3,4,2,4,2}
for x in set1:
    print(x)

1
2
3
4
red
12
black

#union

In [40]:
set1 = {"a","b","c"}
set2 = {1,2,3,}
set3 = set1.union(set2) #union is used to take all 
print(set3)

{1, 2, 'a', 3, 'b', 'c'}

In [46]:
x={"a","b","c"} #set
y=(1,2,3) #tuple
w=["red","black",True] #list
z= x.union(y) #union of set and tuple
print(z)
a=x.union(w) #union of set and list 
print(a)

{1, 2, 3, 'a', 'b', 'c'}
{True, 'red', 'a', 'b', 'c', 'black'}

intersection is also denoted by &
& for intersection 
| is used for union

In [48]:
#intersection 
#& is also used for intersectin
set1={"red",1,2,3,4,}
set2={"red",1,45,6,7,44,8,8,1}
set3=set1.intersection(set2) #will only take the common elements in both the sets 
print(set3)

{1, 'red'}

In [56]:
#intersection 
#& is also used for intersectin
set1={"red",1,2,3,4,}
set2={"red",1,45,6,7,44,8,8,1}
set3=set1 & set2 #will only take the common elements in both the sets 
print("it is for union",set3)
set4 = set1 | set2 # | is used for union
print("it is for intersection",set4)

it is for union {1, 'red'}
it is for intersection {1, 2, 3, 4, 6, 7, 8, 44, 45, 'red'}

In [58]:
#set difference

In [68]:
set1 = {"a","b","c"}
set2 = {"a","e","f"}
set3 = set1.difference(set2) #
set4 = set2 - set1
print("Difference between set1 and set2",set4)
print("Difference between set2 and set1",set3)

Difference between set1 and set2 {'e', 'f'}
Difference between set2 and set1 {'c', 'b'}

In [78]:
set1 =list("anurag")
print(set1)

['a', 'n', 'u', 'r', 'a', 'g']

In [80]:
set1 = set("greeks for greeks") #creating a set with a string
print(set1)

{'s', 'e', 'r', 'f', 'o', 'k', ' ', 'g'}

In [82]:
String = "greeksforgreks"
set1= set(String)
print(set1)

{'s', 'e', 'r', 'f', 'o', 'k', 'g'}

In [84]:
#creating a set with use of list
set1 = set(["black","red","geeks"])
print(set1)

{'red', 'black', 'geeks'}

In [86]:
#creating a set with the useof tuple
t = ("geeks","for","geeks")
print(set(t))

{'for', 'geeks'}

In [88]:
d = {"geeks":1, "for":2, "geek":3}
print("\nSet with the use of Dicitionary:")
print(set(d))

Set with the use of Dicitionary:
{'geek', 'for', 'geeks'}

union will take all the elements from set1 and set2 with out the repetitve elements

In [92]:
set1 ={1,2,3,4,4,5,6,5,4}
set2 ={6,7,8,8,8,9}
set3= set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [110]:
set1 = {1,2,3,4,3,4,5,5,5,"a","b","c"}
set2 ={1,5,4,3,0,2,2,2,8888}
# set3 = set1.intersection(set2)# only the common elements from both the set ie interssection 
set3 = set1 & set2 #intersection only repeated elements
set4 = set1 | set2 #union 
print(set4)
print(set3)

{0, 1, 2, 3, 4, 5, 'a', 'b', 8888, 'c'}
{1, 2, 3, 4, 5}

In [118]:
hello = set()
print("Intially black set: ")
print(hello)
hello.add(1)
hello.add(2)
hello.add((3,4))
print("\n Set after addition of Three elements:")
print(hello)

Intially black set:
set()

 Set after addition of Three elements:
{1, 2, (3, 4)}

In [176]:
hello1 = set()
for i in range(0, 60, ):
    hello1.add(i)
print("\n Set afte addition of elements from 1 -5:")
print(hello1)

 Set afte addition of elements from 1 -5:
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59}

In [180]:
set1 = set([4,5,6,(6,7)])
set1.update([10,11])
print("\nSet after addition of elements using Update:")
print(set1)

Set after addition of elements using Update:
{4, 5, 6, 10, 11, (6, 7)}

In [182]:
#accessing a set in Python
set1 = set(["greks", "for", "geeks"])
print("\nInitial set")
print(set1)

Initial set
{'geeks', 'for', 'greks'}

In [204]:
#intersection 
#& is also used for intersectin
set1={"red",1,2,3,4,}
set2={"red",1,45,6,7,44,8,8,1}
set3=set1.intersection(set2) #will only take the common elements in both the sets 
print(set3)
print("\nElemets of set: ")
for i in set1:
    print(i)
print("\n")
for i in set1:
    print(i, end=" ")
# print("geeks" in set1)

{1, 'red'}

Elemets of set:
1
2
3
4
red


1 2 3 4 red

In [220]:
set1 = set([1,2,3,4,5,6,7,8,9,10,10])
print("initial set")
print(set1)
#using remove() we remove the element that we want to remove
#remove elements from set using Remove method 
set1.remove(5)
set1.remove(6)
set1.remove(10)
print("\n Set after Removal of two elemetns:")
print(set1)

initial set
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

 Set after Removal of two elemetns:
{1, 2, 3, 4, 7, 8, 9}

In [222]:
set1 = set([1,2,3,4,5,6,7,8,9,10,10])
print("initial set")
print(set1)
#discard()
set1.discard(8)
set1.discard(9)
print("after removal")
print(set1)

initial set
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
after removal
{1, 2, 3, 4, 5, 6, 7, 10}

what the difference bttween remove() and discard() disard is used to remove elements foelements from set without keyError use discard()

In [227]:
#remove using iterator
set1 = set([1,2,3,4,5,6,7,8,9,10,10])
print("initial set")
print(set1)
for i in range(1, 5):
    set1.remove(i)
    print(i)
print("remove")
print(set1)

initial set
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1
2
3
4
remove
{5, 6, 7, 8, 9, 10}

#uisng pop method
pop() function can also be used to remove and return an elemets form the set, but it remove only the last elemets of the set

In [232]:
set1 = set([1,2,3,4,4,5,64,3,])
print("initial")
print(set1)
set1.pop()
print("set")
print(set1)

initial
{64, 1, 2, 3, 4, 5}
set
{1, 2, 3, 4, 5}

In [236]:
#clear remove all the elements from the list
#using clear()
set1 = set([1,2,3,4,5,6,7,8,9,10,10])
print("initial set")
print(set1)
set1.clear()
print("done")
print(set1)

initial set
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
done
set()

In [ ]:
set_symmetric_difference()
set_subset()
set_superset()

In [252]:
def create_set():
    my_set ={1,2,3,3,4,5}
    print(my_set)
def add_elements():
    my_set ={1,2,3,4,5}
    my_set.add(6)
    print(my_set)
def remove_element():
    my_set = {1,2,3,4,5}
    my_set.remove(3)
    print(my_set)
def clear_set():
    my_set ={12,2,3,3}
    my_set.clear()
    print(my_set)
def set_union():
    set1 = {1,2,3,4,4}
    set2 = {5,6,6,7,8,0}
    set3 = set1.union(set2)
    print(set3)
def set_intersection():
    set1 = {1,3,4,5,4,3}
    set2 = {3,4,5}
    set3 = set1.intersection(set2)
    print(set3)
def set_difference():
    set1 = {1,2,3,4,5,6}
    set2 = {4,5,6,7,8}
    set3 = set1.difference(set2)
    print(set3)
def set_symmetric_difference():
    set1 = {1,2,3,4,5}
    set2 ={4,5,6,7,8}
    my_set = set1.symmetric_difference(set2)
    print(my_set)
def set_subset():
    set1 = {1,2,3,4,5}
    set2 ={2,3,4}
    subset = set2.issubset(set1)
    print(subset)
def set_superset():
    set1 = {1,2,3,4,5}
    set2 ={2,3,4}
    superset= set1.issuperset(set2)
    print(superset)

if __name__ == '__main__':
    create_set()
    add_elements()
    remove_element()
    clear_set()
    set_union()
    set_intersection()
    set_difference()
    set_symmetric_difference()s
    set_subset()
    set_superset()

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5}
set()
{0, 1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
True