In [1]:
#creating an empty typle 
#tuple are not dynamic immutable
#they can have int, string, float value 
#can create tuple using tuple function or directly

Tuple1 =()
print(Tuple1)
print(type(Tuple1))

()
<class 'tuple'>

In [2]:
#can create tuple using tuple function or directly
t1=()
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
# allow duplicates value
# they are unchangeable meaning it can not be changed add or remove item
#they are ordered have index 
#we can't perform pop append insert function as it is not dyamic innature

In [4]:
#creat a Tuple with all type of data type
Tuple = (1,2,3,4,4.4,"black","red",True,"REd")
print(Tuple)
print(type(Tuple))

(1, 2, 3, 4, 4.4, 'black', 'red', True, 'REd')
<class 'tuple'>

In [5]:
#create a tuple with a single String value
tuple=("Anurag",)
print(tuple)
print(type(tuple))

('Anurag',)
<class 'tuple'>

In [6]:
t2=("anurag")
print(t2)
print(type(t2))

anurag
<class 'str'>

In [7]:
t3=(1)#it will be considered as a string if , is missing it will not be act as tuple
print(t3)
print(type(t3))

1
<class 'int'>

In [8]:
#indexing of typle
t1=(1,2,3,4,5,5,5,5,"black","red",True)
print(t1[-3])#accesing through the index numbers

black

In [9]:
t2=10,20,30,40 #can also be writen as these without  () 
print(t2)
print(type(t2))

(10, 20, 30, 40)
<class 'tuple'>

In [10]:
t3=4   
t4=4, #comma at the end makes it tuple 
print(type(t3))
print(type(t4))

<class 'int'>
<class 'tuple'>

We can crate Tuple from List using tuple() function

In [15]:
my_list=[1,2,1.2,"black"]
my_tuple=tuple(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [2]:
#accessing the element uisng slicing 
t=(1,2,3,4,5,5,6)
print(t[:])

(1, 2, 3, 4, 5, 5, 6)

In [6]:
#list and Tuple comprehension
marks=[10,20,30,40,50,60] #5 lines of code
new_marks=[]
for x in marks:
    new_marks.append(x+2)
print(new_marks)

[12, 22, 32, 42, 52, 62]

In [8]:
marks=[10,20,30,40,50,60] #2 lines of code
new_marks=[x+2 for x in marks] #we gave the condition before the range x+2 for x in marks
print(new_marks)

[12, 22, 32, 42, 52, 62]